<ol class="post-list">
    {{!-- each will begin the loop; any HTML code in ntw will be repeated for every item in posts --}}
    {{#each posts as |post|}}
    <li>
        {{> post-info post}}
    </li>
    {{!-- defines where each ends --}}
    {{/each}}
</ol>